.container {
  min-height: calc(100vh - 100px);
  overflow: hidden;

  & > h1 {
    display: inline-block;
  }
}

footer {
  margin-top: 40px;
  text-align: center;

  a {
    opacity: 0.5;
    color: #8c929d;
    padding: 0 0 3px 5px;
    border-bottom: 1px dashed #8c929d;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    vertical-align: middle;
  }
}
