@mixin responsiveRow($cols) {
  @for $i from 0 to $cols {
    &:nth-child(#{$cols*2}n+#{$i+1}) {
      background: #f5f5f5;
    }
  }

  &:nth-last-child(-n+#{$cols}) {
    border-bottom: #ddd 1px solid;
  }
}

.select-container {
  margin-bottom: 10px;
}

.rates {
  display: grid;
  width: 100%;

  @media (min-width: 1281px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }

  .rates-child {
    display: grid;
    width: 100%;
    grid-template-columns: 35% 65%;
    gap: 20px;
    border-right: #ddd 1px solid;
    background: #fff;
    cursor: pointer;
    padding: 1px 0;

    @media (min-width: 1281px) {
      @include responsiveRow(4);
    }

    @media (min-width: 801px) and (max-width: 1280px) {
      @include responsiveRow(3);
    }

    @media (min-width: 401px) and (max-width: 800px) {
      @include responsiveRow(2);
    }

    @media (max-width: 400px) {
      @include responsiveRow(1);
    }

    &:hover {
      background: #f8bbd0;
    }

    &.active {
      background: #f06292;
    }

    & > :first-child {
      text-align: right;
    }
  }
}
