.loading-container {
  position: relative;

  .loader-screen {
    display: none;
  }

  &.loading {
    & > .loading-container {
      display: none;
    }

    & > .loader-screen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99999;
      font-size: 5vw;
      color: #444;
    }
  }
}